<h1>Latest posts</h1>

<% @posts.each do |p| %>
<hr/>
<h3><%=link_to p.title, post_url(p.blog, p)%></h3>
<p><i>In <%=link_to p.blog.name, blog_url(p.blog)%></i></p>
<% if @admin %>
<p><i><%=link_to("Remove post", remove_post_url(p), {:method => :post})%></i></p>
<% end %>
<p>
<%=p.content.gsub("\n", "<br/>")%>
</p>
<% end %>
